 
{% load static %}
<main class="main" >
    <div class="products" > 
    {% for product in products %}
    <div class="product">
      <span class="product__price">${{product.price}}</span>
      <img class="product__image" src="{{product.image}}">
      <h1 class="product__title">{{product.name}}</h1>
      <hr />
      <p>{{product.description}} </p>
      <a data-product="{{product.id}}" data-action="add" class="product__btn btn update-cart">Add to cart</a>
    </div>
    {% endfor %}
    </div>
</main>
<script  type="text/javascript" src="{% static 'js/cart.js' %}"></script>